.date_month{
    margin-left: 0.5rem;
}
.date_year{    
    margin-left: 0.5rem;
}
.date_day{    
    margin-left: 0.5rem;
}

.expense-date {
    display: flex;
    flex-direction: row;     
    color: black;
    align-items: flex-start;
    justify-content: flex-start;
   
  }
  