.container-main {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100vh;
}

.box-title {
  height: 160px;

  h4 {
    margin-bottom: 2px;
  }
}

.box-accounts {

  .accounts-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.box-entry-menu-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 10PX;
  padding-right: 10PX;
  // border-bottom: solid black 1px;
}

.table-column {
  padding-left: 5px;
  padding-right: 5px;
}

.box-overview {
  text-align: center;
  padding-top: 10px;
  padding-left: 10PX;
}

.max-height {
  height: 80vh;
}


// utilities

.border {
  border: solid 1px;
  border-color: black;
  border-radius: 5px;
}

.border-right {
  border-right: solid 1px grey;
  
}

.mg-l {
  margin-left: 1px !important;
}

.mg-t {
  margin-top: 1px !important;
}
.pd-l{
  padding-left: 5%;
}

.pd-r{
  padding-right: 5%;
}

.pd-t{
  padding-top: 5%;
}

$bkg-color: rgb(235, 232, 232)