.container-main {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100vh;  
 width: 100%;
}
.maincontent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
// utilities
.max-height {
  height: 100vh;
}

.border {
  border: solid 1px;
  border-color: black;
  border-radius: 5px;
}

.border-right {
  border-right: solid 1px grey;  
}

.mg-l {
  margin-left: 1px !important;
}

.mg-t {
  margin-top: 1px !important;
}
.pd-l{
  padding-left: 5%;
}

.pd-r{
  padding-right: 5%;
}

.pd-t{
  padding-top: 5%;
}

